@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: #c3ad9d;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  color: rgb(177, 177, 177);
  background: rgb(68, 68, 68);
  opacity: 1;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  position: relative;
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    max-width: 100%;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: rgb(0, 80, 150);
  background: rgb(238, 238, 238);
  opacity: 1;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  max-width: 100%;
  height: auto;
  background-color: #007dbb;
  align-items: center;
  padding: 2px 0px;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 400px;
  max-width: 100%;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 0 30px 25px;
  text-align: left;
  max-width: 100%;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 5% auto;
  max-width: 100%;
  min-height: auto;
  min-width: 100%;
  transition: all .2s ease-in-out;
}
#restaurants-list .restaurant-img:hover {
  transform: scale(1.1);
}
#restaurants-list li h2 {
  color: #b56000;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: #FFD300;
  border-bottom: 3px solid #eee;
  color: #4D4000;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}

#restaurants-list li a:hover,
#restaurants-list li a:focus {
  background-color: #3397DB;
  color: white;
 
}

/* ====================== Restaurant Details ====================== */

.inside #maincontent {
  margin-top: 120px;
}
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

section.main-page-map-container{
  height: 400px;
  background-image: url('/dist/img/google_static.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.inside #map-container {
  padding: 25px;
  border-bottom: 1px solid #d9d9d9;
  justify-self: stretch;
  align-self: stretch;
  
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: relative;
  max-width: 100%;
}
#restaurant-name {
  color: rgb(171, 90, 0);
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
  padding-left: 20px;
}
#restaurant-img {
  max-width: 100%;
  transition: all 3.3s ease-in-out;
}
#restaurant-img:hover {
  transform: scale(1.3);
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	max-width: 100%;
}
#restaurant-container, 
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 0px 25px 25px;
}

#restaurant-container .image-card{
  width: 100%;
}

#restaurant-container .image-card .image-container{
  border: 15px solid rgba(0,0,0,0);
  overflow: hidden;
}

#reviews-container {
  padding: 30px 40px 0;
}

#reviews-container h2 {
  color: #7f4200;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 10px;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  position: relative;
  max-width: 100%;
  border-radius: 29px 10px;
  transition: 0.3s;
}
#reviews-list li:hover {
  box-shadow: 0px 3px 35px 8px rgba(0,0,0,0.2)
}

#reviews-list li p:first-child {
  margin: 0 0 10px;
  background-color: black;
  color: white;
  padding: 13px 0 10px 17px;
}
#reviews-list li p:nth-child(2){
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  padding-right: 22px;
}
#reviews-list li p:nth-child(3){
  margin-left: 17px;
  display: inline-block;
  background-color: #FFEF00;
  text-transform: uppercase;
  padding: 5px;
  color: #595400;
  border-radius: 5px;
}
#reviews-list li p:last-child{
  margin: 5px 0 30px 17px;
}

#restaurant-hours{
  width: 100%;
}
#restaurant-hours td {
  color: rgb(69, 69, 69);
  background: rgb(221, 221, 221);
  opacity: 1;
  padding: 2px;
}
#restaurant-hours tr:nth-child(even){
  background-color: #ddd;
}
#restaurant-hours tr:hover{
  background-color: #807d7dde;
}

nav.breadCrumb {
  display: flex;
  align-items: center;
  height: auto;
}

ol#breadcrumb {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.restaurant-info-fav {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.restaurant-info-fav span.fa.fa-star {
  align-self: center;
  font-size: 30px;
  cursor: pointer;
  color: lightgrey;
}

.restaurant-info-fav span.fa.fa-star.checked{
  color: orange;
}

/* ================= main page ================= */
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.flex-container{
  display: flex;
  justify-content: center;
}

#neighborhoods-select:focus,
#cuisines-select:focus{
  border: 4px solid #FFD300;
}
/* ================= resturant details page ================= */

.inside .grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}



@media (max-width: 580px){
  .flex-container{
    flex-direction: column;
  }

  .filter-options{
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
  }

  .inside .grid{
    grid-template-columns: 1fr;
  }

  .inside #map-container {
    height: 400px;
  }

  

  section#reviews-form-container {
    grid-column: 1;
    width: 90%;
  }


}

@media (max-width: 768px){

  .grid{
    grid-template-columns: 1fr;
  }
  
  #reviews-list li p:last-child{
    padding-right: 20px;
  }
  
}

@media (min-width: 581px){
  .inside #map-container {
    grid-column: 2/3;
    grid-row: 1/2;
    
  }
  
  #reviews-container {
    grid-column: 1/3;
    justify-self: stretch;
  }
}

@media (min-width: 1023px){
  .grid{
    grid-template-columns: repeat(3,1fr);
    
  }
}




/* ================= ERROR PAGE ================= */
/* Taken from https://codepen.io/nelsonleite/pen/Xdpqyb?q=page+not+found&limit=all&type=type-pens */

.err-return-home-link{
  color: #fcd28f;
  text-transform: uppercase;
}

@keyframes floating {
  0% {
    transform: translate3d(0, 0, 0);
  }
  45% {
    transform: translate3d(0, -10%, 0);
  }
  55% {
    transform: translate3d(0, -10%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes floatingShadow {
  0% {
    transform: scale(1);
  }
  45% {
    transform: scale(0.85);
  }
  55% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
body {
  background-color: #f7f7f7;
}

.container {
  font-family: 'Varela Round', sans-serif;
  color: #9b9b9b;
  position: relative;
  height: 100vh;
  text-align: center;
  font-size: 16px;
}
.container h1 {
  font-size: 32px;
  margin-top: 32px;
}

.boo-wrapper {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 64px;
  padding-bottom: 64px;
}

.boo {
  width: 160px;
  height: 184px;
  background-color: #f7f7f7;
  margin-left: auto;
  margin-right: auto;
  border: 3.3939393939px solid #9b9b9b;
  border-bottom: 0;
  overflow: hidden;
  border-radius: 80px 80px 0 0;
  box-shadow: -16px 0 0 2px rgba(234, 234, 234, 0.5) inset;
  position: relative;
  padding-bottom: 32px;
  animation: floating 3s ease-in-out infinite;
}
.boo::after {
  content: '';
  display: block;
  position: absolute;
  left: -18.8235294118px;
  bottom: -8.3116883117px;
  width: calc(100% + 32px);
  height: 32px;
  background-repeat: repeat-x;
  background-size: 32px 32px;
  background-position: left bottom;
  background-image: linear-gradient(-45deg, #f7f7f7 16px, transparent 0), linear-gradient(45deg, #f7f7f7 16px, transparent 0), linear-gradient(-45deg, #9b9b9b 18.8235294118px, transparent 0), linear-gradient(45deg, #9b9b9b 18.8235294118px, transparent 0);
}
.boo .face {
  width: 24px;
  height: 3.2px;
  border-radius: 5px;
  background-color: #9b9b9b;
  position: absolute;
  left: 50%;
  bottom: 56px;
  transform: translateX(-50%);
}
.boo .face::before, .boo .face::after {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  background-color: #9b9b9b;
  border-radius: 50%;
  position: absolute;
  bottom: 40px;
}
.boo .face::before {
  left: -24px;
}
.boo .face::after {
  right: -24px;
}

.shadow {
  width: 128px;
  height: 16px;
  background-color: rgba(234, 234, 234, 0.75);
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
  animation: floatingShadow 3s ease-in-out infinite;
}

/* #################### Toast ################# */
#toast {
  display: none;
  width: 300px;
  height: 50px;
  margin: auto;
  background-color: #333;
  color: #fff;
  text-align: center;
  position: fixed;
  left: 0;right:0;
  bottom: 150px;
  font-size: 17px;
}

#toast #desc {
  padding: 10px;
}

#toast .toast-buttons {
  padding: 10px;
}

#toast.show {
  display: block;
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 100px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 100px; opacity: 1;}
}


.toast-buttons {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  background-color: #333;
}

button.toast-button {
  width: 50%;
  height: 40px;
}


/* #################### Review Form ################# */
section#reviews-form-container {
  grid-column: 1/3;
  width: 50%;
  margin-top: 20px;
}

#reviews-form{
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 5px;
}

h2#reviews-form-title{
  
    color: #7f4200;
    font-size: 24pt;
    font-weight: 300;
    letter-spacing: -1px;
    padding-bottom: 1pt;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text].error {

  border: 3px solid red;
}

input[type=text]:focus{
  border: 3px solid #5555;
}

input[type=text]:placeholder {
  color: black;
  opacity: .5;
}


textarea{
  box-sizing: border-box;
  padding: 12px 20px;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  min-height: 130px;
  resize: none;
}

textarea.error{
  border: 3px solid red;
}

textarea:focus {
  border: 3px solid #5555;
}

textarea:placeholder {
  color: black;
  opacity: .5;
}

#reviews-form button {
  background-color: #ffd300;
  color: #4d4000;
  display: inline-block;
  font-size: 10pt;
  margin: 12px auto;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .3s ease 0s;
}

#reviews-form button:hover,
#reviews-form button:focus {
  background-color: #3397DB;
  color: white;
 
}

.checked{
  color:orange;
}

@media (max-width: 580px){

  section#reviews-form-container {
    grid-column: 1;
    width: 90%;
  }

  
}

.rating-container > label {
  margin-right: 10px;
}

.rating-container {
  margin: 6px 0px;
}

.rating-container span.fa-star,
.favourite-container .fa.fa-star{

  cursor: pointer;
  color: lightgrey;
}

.rating-container span.fa-star.checked,
.favourite-container .fa.fa-star.checked{
  color: orange;
}

.rating-container span.fa-star:hover{
  color: #FF912C;
}

span.error{
  color: red;
  display: none;
}


.favourite-container {
  display: flex;
  justify-content: space-between;
}

.favourite-container .fa.fa-star {
  align-self: flex-end;
  font-size: 30px;
}
